body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  padding: 20px;
}

h2 {
  color: #c0392b;
}

input {
  display: block;
  margin: 8px 0;
  padding: 8px;
  width: 250px;
}

button {
  background: #27ae60;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 270px;
}

button:hover {
  background: #219150;
}

ul {
  margin-top: 15px;
  padding: 0;
}

li {
  background: white;
  margin-bottom: 5px;
  padding: 8px;
  list-style: none;
  border-left: 5px solid #c0392b;
}
@media (max-width: 600px) {
  input, button, select {
    width: 100%;
  }

  body {
    padding: 10px;
  }
}
li button {
  margin-left: 10px;
  background: #e74c3c;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}

li button:hover {
  background: #c0392b;
}
